#main{
    /* style={{display:"flex", width:"100%"}} */
display: flex;
width: 100%;
}

#sidebar{
    /* //style={{width:"23%",position:"fixed"}} */
    width: 23%;
    position: fixed;
    @media (max-width: 768px) {
        display: none;
      }
      
}

#navbar{
    /* style={{left:"23%", width:"77%",position:"fixed", zIndex:"2" }} */
    left: 23%;
    width: 77%;
    position: fixed;
    z-index: 2;

    @media (max-width: 768px) {
        left: 0%;
        width:100%;
        position: fixed;
        z-index: 2;
      }
}
#footer{
    /* style={{paddingLeft:"5px", paddingRight:"5px",backgroundColor:"#2C2C2C",marginTop:"-10px", marginLeft:"23%",marginBottom:"85px"}} */
    margin-left: 23%;
    margin-top: -5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #2c2c2c;
    /* margin-bottom: 85px; */
    @media (max-width: 768px) {
        margin-left: 0%;
        width:100%;
        
      }
}

#browse{
    /* marginLeft={"23%"} marginTop={"70px"} padding={"5px"} backgroundColor={"#2C2C2C"} zIndex={"0"} */
    margin-left: 23%;
    margin-top: 70px;
    padding: 5px;
    background-color: #2c2c2c;
    z-index: 0;

    @media (max-width: 768px) {
        margin-left: 0%;
        width:100%;
        
       
      }
}

@media (max-width: 768px) {
    .grid{

        display: grid;

        grid-template-columns: repeat(3, 1fr);
  
    }
    
   
  }