/* .song-container {
    text-align: center;
    background-color: black;
    padding: 0px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .song-container> div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  h1 {
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
  }
  
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  .audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  button {
    background-color: black;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    
    margin: 10px;
  
    flex-direction: column;
  }
  
  .heading-image{
    display: "flex";
  }
  .nav-button {
    font-size: 30px;
  }
  
  
  .time-length {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    margin: 0 auto;
    width: 200px;
  }
  
  #current-time,
  #duration {
    color: white;
  }
  
  .range{
    width: 100%;
    color: black;
  }
  
  audio {
    display: none;
  }
  
  .button-container{
    display: flex;
    align-items: center;
  }
  
  .audio-Voulme{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .volume-control-popup>input{
    width: 70px;
  }
  .volume-button{
    width: 0px;
    margin-right: 20px;
  }
  
  .volume{
    height: 43px;
  } */