.hover:hover .hover-button{
    display: block;
    /* border: 2px solid yellow; */
    background-color: green;
}

.image-hover:hover .hover-button{
    opacity: 1; 
}

.image-hover:hover .image {
    transform: scale(1.05); 
  }

.rating{
    display:flex
   
}
.mobilerating{
 display: none;
}
  @media screen and (max-width: 786px) {
   .rating{
       display: none
   }
   .mobilerating{
    display: flex;
   

   }
  }


  /* LikeButton.css */
.like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top:-270px;
    margin-left:5px;
    position:absolute;
                        /* backgroundColor:transparent; */
    
  }
  .like-button:hover {
    background-color: transparent; /* Change the background color to black on hover */
  }
  .like-icon{
    color: white;
    margin: 2px 0px 0px 2px;
    /* border: 2px solid green; */
  }
  
  .like-button svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    
    /* fill: currentColor;  */
    /* Use the current text color for the heart icon */
  }
  
  .liked  {
    color: red; /* Change the heart icon fill color to red when liked */
  }
  



  